@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dashboard-height {
  height: calc(100vh - 70px);
}
.active {
  background-color: rgba(79, 183, 131, 0.3);
  font-weight: 600;
}
.activedash {
  background-color: rgba(79, 183, 131, 0.2);
}
button.MuiButtonBase-root.Mui-disabled.Mui-selected {
  background-color: #4fb783;
  color: #fff;
}
